@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@DevinsTest.Properties.Resources.Name</h1>
    <p class="lead">@DevinsTest.Properties.Resources.Welcome_Message</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">

    <div class="col-md-9">

        
        <div class="blogPosts">
            <h2>Blog Post</h2>
            <p>
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
                
        <div class="blogPosts">
            <h2>Blog Post</h2>
            <p>
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>

        <div class="blogPosts">
            <h2>Blog Post</h2>
            <p>
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>

        <div class="blogPosts">
            <h2>Blog Post</h2>
            <p>
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah blah blah blah. Writing here about blah blah blah blah. Writing here about blah blah blah blah.
                Writing here about blah
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="col-md-3">
        <h3>What I'm up to..</h3>
        <div class="activity">
            <h2>Facebook</h2>
            <p>He says that</p>
            <p>She says that</p>
            <p>Who said what?</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
        </div>

        <div class="activity">
            <h2>LinkedIn</h2>
            <p>He says that</p>
            <p>She says that</p>
            <p>Who said what?</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
        </div>

        <div class="activity">
            <h2>FourSquare</h2>
            <p>He says that</p>
            <p>She says that</p>
            <p>Who said what?</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
        </div>

        <div class="activity">
            <h2>Instagram</h2>
            <p>He says that</p>
            <p>She says that</p>
            <p>Who said what?</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Read more &raquo;</a></p>
        </div>
        
    </div>
    
</div>